NODE_ENV=production
PORT=3000
WITHDRAW_SIGNER_API_KEY=replace-with-shared-internal-key
HOT_WALLET_ADDRESS=replace-with-hot-wallet-address
HOT_WALLET_PRIVATE_KEY=replace-with-hot-wallet-private-key
COIN_MANAGE_DB_HOST=coin-manage-postgres-host
COIN_MANAGE_DB_PORT=5432
COIN_MANAGE_DB_NAME=korion
COIN_MANAGE_DB_USER=korion
COIN_MANAGE_DB_PASSWORD=replace-with-db-password
COIN_MANAGE_VIRTUAL_WALLET_ENCRYPTION_KEY=replace-with-virtual-wallet-key
FOXYA_DB_HOST=foxya-db-host
FOXYA_DB_PORT=5432
FOXYA_DB_NAME=foxya
FOXYA_DB_USER=foxya
FOXYA_DB_PASSWORD=replace-with-db-password
FOXYA_ENCRYPTION_KEY=replace-with-foxya-encryption-key
TRON_API_URL=https://api.trongrid.io
MAINNET_TRON_API_URL=https://api.trongrid.io
TESTNET_TRON_API_URL=https://nile.trongrid.io
TRON_API_KEY=
KORI_TOKEN_CONTRACT_ADDRESS=replace-with-profile-contract
MAINNET_KORI_TOKEN_CONTRACT_ADDRESS=replace-with-mainnet-contract
TESTNET_KORI_TOKEN_CONTRACT_ADDRESS=replace-with-testnet-contract
TRON_FEE_LIMIT_SUN=100000000
SHARED_DOCKER_NETWORK_NAME=match-coin-manage-network-name
LEDGER_SIGNER_PORT=3100
